.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logoImage {
  height: 100px;
  width: 150px;
  margin-top: 5px;
}
.mainPage {
  flexDirection: row;
  flex: 1;
  background-color: #999999;
  height: 100vh;
}
.header {
  display: flex;
  height: 100px;
}
.logo {


}
.searchBar {
  height: 30px;
  width: 600px;
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 550px;

}
.logIn {

  margin-right: 20px;
  margin-top: 5px;
}
.logInButton {
  height: 30px;
}
.movies{
  border-radius: 20px;
  background-color: #888888;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  height: 80vh;
}
.moviesRowOne{
  flex-direction: row;
  display: flex;
  flex: 2;
  background-color: #888888;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}
.moviesRowTwo{
  flex-direction: row;
  display: flex;
  flex: 1;
  background-color: #888888;
  margin-right: 20px;
  margin-left: 20px;
}
.movieCard{
  background-color: #999999;
  width: 100px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 90px;
  border-radius: 20px;
  flex: 1;
}
.movieLogo{
  height: 200px;
  width: 150px;
  margin-top: 10px;
  margin-left: 5px;
}
.movieTitle{
  margin-top: 10px;
  margin-left: 5px;
  font-size: 20px;
  font-family: Bahnschrift;
  align-content: center;
  color: orange;
}

